body {
    background-color:wheat;
}

#left {
    text-align: left;
}

#center1 {
    text-align: center;
}

#center2 {
    text-align: center;
}

#right {
    text-align: right;
}

h1.style_one {
    font-family:'Times New Roman', Times, serif;
    font-style:italic;
}

h2.style_one {
    font-family:'Times New Roman', Times, serif;
    font-style:italic;
}

h3.style_one {
    font-family:'Times New Roman', Times, serif;
    font-style:italic;
}